gunicorn==19.9.0
cloudpickle==1.2.1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
json5==0.8.4
JsonJ==0.1.6
jsonschema==3.0.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
matplotlib==3.1.0
numpy==1.16.4
numpydoc==0.9.1
pandas==0.24.2
path.py==12.0.1
pathlib2==2.3.4
pep8==1.7.1
pickleshare==0.7.5
py==1.8.0
requests==2.23.0
requests-toolbelt==0.9.1
scikit-learn==0.21.2
scipy==1.2.1
SQLAlchemy==1.3.5
sympy==1.4
unicodecsv==0.14.1
Werkzeug==0.15.4
pyrebase4==4.3.0
pycryptodome>=3.6.4
oauth2client==4.1.2
gcloud==0.18.3	
python-jwt==2.0.1
requests>=2.19.1
requests-toolbelt>=0.7.1
httplib2>=0.9.1
pyasn1>=0.1.7
six>=1.6.1
rsa>=3.1.4
pyasn1-modules>=0.0.5
protobuf!=3.0.0.b2.post1,>=3.0.0b2
googleapis-common-protos==1.51.0
jws>=0.1.3
urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
idna<3,>=2.5
chardet<4,>=3.0.21
certifi>=2017.4.17
setuptools==46.1.3
